<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1>hello</h1>
<!--        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Student Id</th>
                <th>Colo (green, yellow, red)</th>
            </tr>
            <tr>
                <td><% ></td>
                <td><% ></td>
                <td><% ></td>
            </tr>
            <tr>
                <td><% ></td>
                <td><% ></td>
                <td><% ></td>
            </tr>
        </table>-->
    </body>
</html>
